.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    flex-direction: column;
    gap: 20px;
}
.wrapper button{
    background: #614101;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.accordian{
    width: 50vw;
}
.item{
    background: #614101;
    margin-bottom: 10px ;
    padding: 10px;
}
.title{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content{
    color: #ffffff;
    height: auto;
}